@use '../components/mixins' as *;
@use '../components/variables' as *;

.about {
  padding-top: 12rem;
  position: relative;
  padding-bottom: 12rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  padding-inline: 2rem ;
  

  background-image: linear-gradient(
    to bottom,
    rgba(#01171d, 1),
    rgba(#000000, 1)
  );
  @include container-size;

  @include respond(tab-port) {
    flex-direction: row;
    padding-inline: 2rem;
  }

  &__title {
    @include section-title;
  }

  &__description {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    h2 {
      font-size: 4.8rem;
    }

    p {
      max-width: 50ch;
    }

    p:last-child {
      font-size: 3rem;
      font-weight: 400;
    }

    a {
      text-align: center;
      place-self: end;
      font-size: 3rem;
      padding-inline: 4rem;
      @include respond(tab-port) {
        padding-inline: 8rem;
      }

      &::before {
        background: $mycolor-primary-dark-2;
      }
      i::before,
      i::after {
        background: $mycolor-primary-dark-2;
      }
    }
  }

  &__image {
    max-width: 60rem;
    position: relative;
    img {
      object-fit: cover;
      max-width: 100%;      
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(#1d0101, 0.3) 70%,
        rgba(#000000, 0.6) 80%,
        rgba(#000000, 0.8) 90%
      );
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      opacity: 1;
      height: 102%;
      z-index: 10;
      filter: blur(5px);
    }
  }
}
