@use '../components/mixins' as *;
@use '../components/variables' as *;

.header {
  height: 80vh;
  position: relative;
  display: flex;
  font-family: 'Sarpanch';
  color: #fff;
  @include container-size;
  position: relative;
  transition: .3s;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $mycolor-primary-dark-2;
    top: 18rem;
    left: 0;
    position: absolute;
    display: block;
    opacity: 70%;
    height: 22rem;
    z-index: 10;
    filter: blur(5px);    
  }

  @include respond(tab-port) {
    &::before {
      height: 28rem;
    }
  }

  @include respond(tab-land) {
    &::before {
      display: none;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: url('../Img/Header.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      opacity: 20%;
      z-index: -1;
      filter: blur(2px);
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: -0.5rem;
    z-index: 999;
    align-items: center;
    @include container-size;

    @include respond(tab-port) {
      flex-direction: row;
      justify-content: space-between;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 5;
      z-index: -1;
      background-image: linear-gradient(
        to bottom,
        rgba(#01171d, 1),
        rgba(#000000, 1)
      );
      filter: blur(2px);
    }

    &--logo {
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 0.3rem;
      color: $mycolor-primary;
      text-shadow: 1px 1px 5px $mycolor-primary-dark;
      @include respond(phone) {
        font-size: 6rem;
      }

      a {
        color: $mycolor-primary;
        transition: ease-in 0.2s;
        &:hover {
          color: lighten($mycolor-primary, 5%);
        }
      }
    }

    &--list {
      display: flex;
      gap: 3rem;

      a {
        font-size: 2rem;
        color: $mycolor-primary-light;
        transition: ease-in 0.2s;
        &:hover {
          color: $mycolor-primary;
        }

        @include respond(phone) {
          font: inherit;
        }
      }
    }
  }

  &__left {
    display: none;
    @include respond(tab-land) {
      display: block;
      height: 100%;
      width: 30%;
    }
  }

  &__right {
    width: 100%;
    height: 100%;
    background-image: url('../Img/Header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(tab-land) {
      width: 70%;
    }
  }
  &__title {
    position: absolute;
    width: 100%;
    top: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 3px 15px black;
    z-index: 50;

    span {
      text-shadow: 5px 10px 4px black;

      &:first-child {
        font-size: 3.6rem;
        font-weight: 200;

        @include respond(tab-port) {
          position: absolute;
          left: 4rem;
          font-size: 4.8rem;
          font-weight: 300;
        }
      }

      &:nth-child(2n) {
        top: 4rem;
        font-size: 5rem;
        font-weight: 200;
        color: red;

        @include respond(tab-port) {
          position: absolute;
          left: 12rem;
          font-size: 9.6rem;
          font-weight: 400;
        }
      }
      &:nth-child(3n) {
        top: 10rem;
        font-size: 5.6rem;
        font-weight: 600;

        @include respond(tab-port) {
          position: absolute;
          left: 60rem;
          font-size: 9.6rem;
          font-weight: 500;
          top: 13rem;
        }
      }
    }
  }
}
