@use '../components/mixins' as *;
@use '../components/variables' as *;

.projects {
  background-image: linear-gradient(
    to bottom,
    rgba(#000000, 1),
    rgba(#01171d, 1)
  );
  padding-top: 12rem;
  padding-bottom: 12rem;
  position: relative;
  @include container-size;

  &__title {
    @include section-title;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));     
    place-items: center;
    gap: 6rem 4rem;
    padding: 2rem;

    &__card {
      max-width: 45rem;
      padding: 4rem 0;
      display: grid;
      gap: 1rem;
      grid-template-rows: 20rem 30rem;
      box-shadow: 0 0 40px black;
      border: 1px solid black;
      background-image: linear-gradient(to bottom, lighten($mycolor-primary-dark, 4%),darken($mycolor-primary-dark, 2%));
      

      &--image {
        overflow: hidden;        

        img {
          object-fit: cover;
          max-width: 100%;
          transition: ease 0.3s;
          height: 40rem;         

          &:hover {
            transform: rotate(-3deg) scale(1.1);           
          }
        }
      }

      &--description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;       
        padding-inline: 2rem;
        height: 100%rem;
        

        h2 {
          font-size: 4rem;
        }

        h3 {
          font-size: 2.6rem;
        }

        a {
          text-align: center;
          padding-inline: 4rem; 
          font-size: 2.4rem;         
          place-self: end;
          align-self: end;
          @include respond(tab-port) {
            font-size: 2.8rem;  
            padding-inline: 6rem;
          }

          &::before {
            background: $mycolor-primary-dark-2;
          }
          i::before,
          i::after {
            background: $mycolor-primary-dark-2;
          }
        }
      }
    }
  }
}
