@use '../components/mixins' as *;

.techs {
  width: 100%;  
  background-image: linear-gradient(
    to bottom,
    rgba(#000000, 1),
    rgba(#01171d, 1)
  );
  padding-top: 12rem;
  position: relative;
  margin: 0 auto;  
  max-width: 100%;
  overflow: hidden;
  @include container-size;

  &__title {
    @include section-title;
  }

  &__banner {
    overflow: hidden;
    white-space: nowrap;
    @include container-size; 

    &--1 {
      display: flex;
      gap: 5rem;
      animation: floatText 20s infinite linear; 
    }
  }


  &__text {
    padding: 2rem;    
  }

  p {    
    font-size: 2.2rem;
    a {
      font-size: 2.2rem;
      transition: ease .2s;
      &:hover {
        text-decoration: underline;
        color: red;
      }
    }
  }
}

// Carousel Techs

#carouselExampleInterval {
  background-color: black;
  position: relative;
  z-index: 2;
  margin: 0 auto;

  .carousel-item {
    
    img {
      object-fit: contain;
    }
  }

  .carousel-control-prev-icon {    
    width: 7rem;
    height: 7rem;
  }

  .carousel-control-next-icon {   
    width: 7rem;
    height: 7rem;
  }
}



@keyframes floatText {
  0% {
    transform: translate(-250rem, 0);
  }
  100% {
    transform: translate(80rem, 20%);
  } 
}

@include respond(tab-port) {
  @keyframes floatText {
    0% {
      transform: translate(-220rem, 0);
    }
    100% {
      transform: translate(180rem, 0);
    }     
  }   
}

