@use 'mixins' as *;

.projects {
  background-image: linear-gradient(
    to bottom,
    rgba(#000000, 1),
    rgba(#01171d, 1)
  );
  padding-top: 12rem;
  position: relative;
  padding-bottom: 12rem;
  @include container-size;

 

  &__title {
    font-family: 'Sarpanch';
    color: #fff;
    position: absolute;
    right: 4rem;
    top: 2rem;
    font-size: 6rem;
    text-shadow: 5px 5px 5px black;
  }

  &__card {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 1.5rem;
    

    &::after {
      content: '';
      width: 98%;
      height: 98%;
      top: 1rem;
      left: 1rem;
      display: block;
      background-image: url('/assets/Img/Card.svg');
      background-size: cover;
      background-color: rgb(red, 0.6);
      position: absolute;
      filter: blur(15px) drop-shadow(0 0 15px rgb(#04475c, 0.5))
        drop-shadow(0 0 50px rgb(#04475c, 0.5));
      opacity: 0.3;
      z-index: 10;
    }

    &_molde {
      width: 100%;
      z-index: 10;
      display: none;
      opacity: .6;

      @include respond(tab-port) {
        display: block;
      }
    }

    &_molde-mobile {
      width: 100%;
      z-index: 10;
      display: block;
      opacity: .6;

      @include respond(tab-port) {
        display: none;
      }
    }

    &__itens {
      position: absolute;
      width: 80%;
      display: block;
      top: 10%;
      right: 10%;
      z-index: 1;
      overflow: hidden;

      &_img {
        width: 100%;
        z-index: 10;

        @include respond(tab-port) {
          width: 100%;
        }
      }

      @include respond(tab-port) {
        width: 60%;
        top: 7rem;
        left: 10rem;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      font-family: 'Sarpanch';
      font-size: 2rem;
      color: #fff;
      width: 100%;
      bottom: 1rem;
      height: 40%;
      z-index: 20;
      padding: 10rem;
      gap: 1rem;

      @include respond(tab-port) {
        justify-content: space-between;
        top: 10rem;
        padding: 0;
        right: 8%;
        width: 26%;
        height: 60%;
        gap: 0;
      }

      h2 {
        font-size: 3rem;
        @include respond(phone) {
          font-size: 4rem;
        }
      }

      p {
        display: none;
        @include respond(tab-port) {
          display: block;
          padding-inline: 5rem;
        }
      }
      
    }
  }
}
