@use 'mixins' as *;
@use 'variables' as *;

.mybtn {
  position: relative;
  background-color: #fff;
  text-decoration: none; 
  letter-spacing: .1rem;
  padding: .2rem .8rem;
  transition: .5s;
  &:hover {
    letter-spacing: 0.25rem;
    background: red;
    color: red;
    box-shadow: 0 0 35px red;
  }
  &::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(58, 33, 33);     
  }
  span {
    position: relative;
    z-index: 1;
  }
  i {
    position: absolute;
    inset: 0;
    display: block;
    &::before {
      content: '';
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      border: 3px solid #fff;
      left: 80%;
      top:-.8rem;
      background: rgb(58, 33, 33);
      transform: translate(-50%);
      transition: .5s;    
      opacity: .8;
    }
    &::after {
      content: '';
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      border: 3px solid #fff;
      left: 20%;
      bottom:-.8rem;
      background: rgb(58, 33, 33);
      transform: translate(-50%);
      transition: .5s;
      opacity: .8;
    }  
  }
  &:hover i::before {
    width: 3rem;
    left: 20%;
    border-color: red;
  }
  &:hover i::after {
    width: 3rem;
    left: 80%;
    border-color: red;
  }
}

