@use 'mixins' as *;
@use 'variables' as *;

html {
  scroll-behavior: smooth;
  font-size: 47.5%;

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 62.5%;
  }
}

body {  
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    to bottom,    
    rgba($mycolor-primary-dark, 1),
    rgba($mycolor-primary-dark-2, 1),   
  );
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
