@charset "UTF-8";
/* 
-----------------------------------------------. 
!argumento do $breakpoint                      | 
...............................................| 
320px - 600px  mobile phone = phone            |
600px - 900px tablet-portrait = tab-port       |
900px - 1200px tablet-landscape = tab-land     |
1200px - 1800px tamanho normal do browser      |
1800px + big desktop = big-desktop      
xxpx/16px = xxem       |
-----------------------------------------------°
*/
.mycl-primary {
  color: #ee1000;
}

.myfont__default {
  font: 500 2rem "Sarpanch";
  color: rgba(252, 239, 239, 0.9058823529);
}

.myfont__title-section {
  font: 400 2rem/1 "Sarpanch";
  text-transform: uppercase;
}

.myfont__detailed {
  font: 500 3.8rem/1.5 "Sarpanch";
  color: rgba(252, 239, 239, 0.9058823529);
}
@media (min-width: 75rem) {
  .myfont__detailed {
    font-size: 3.2rem;
  }
}
.myfont__detailed::first-letter {
  color: #ee1000;
}
html {
  scroll-behavior: smooth;
  font-size: 47.5%;
}
@media (min-width: 56.2rem) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 75rem) {
  html {
    font-size: 62.5%;
  }
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, #01171d, #000c0f);
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  background: transparent;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-image: url("/assets/Img/Header.jpg");
  background-position: center;
  background-size: cover;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.header {
  height: 80vh;
  position: relative;
  display: flex;
  font-family: "Sarpanch";
  color: #fff;
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 10px inset black;
  position: relative;
  transition: 0.3s;
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000c0f;
  top: 18rem;
  left: 0;
  position: absolute;
  display: block;
  opacity: 70%;
  height: 22rem;
  z-index: 10;
  filter: blur(5px);
}
@media (min-width: 56.2rem) {
  .header::before {
    height: 28rem;
  }
}
@media (min-width: 75rem) {
  .header::before {
    display: none;
  }
  .header::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../Img/Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    opacity: 20%;
    z-index: -1;
    filter: blur(2px);
  }
}
.header__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: -0.5rem;
  z-index: 999;
  align-items: center;
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 10px inset black;
  padding-inline: 4rem;
}
@media (min-width: 56.2rem) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__nav::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 5;
  z-index: -1;
  background-image: linear-gradient(to bottom, #01171d, black);
  filter: blur(2px);
}
.header__nav--logo {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: #ee1000;
  text-shadow: 1px 1px 5px #01171d;
}
@media (min-width: 37.5rem) {
  .header__nav--logo {
    font-size: 6rem;
  }
}
.header__nav--logo a {
  color: #ee1000;
  transition: ease-in 0.2s;
}
.header__nav--logo a:hover {
  color: #ff1909;
}
.header__nav--list {
  display: flex;
  gap: 3rem;
}
.header__nav--list a {
  font-size: 2rem;
  color: rgba(252, 239, 239, 0.9058823529);
  transition: ease-in 0.2s;
}
.header__nav--list a:hover {
  color: #ee1000;
}
@media (min-width: 37.5rem) {
  .header__nav--list a {
    font: inherit;
  }
}
.header__left {
  display: none;
}
@media (min-width: 75rem) {
  .header__left {
    display: block;
    height: 100%;
    width: 30%;
  }
}
.header__right {
  width: 100%;
  height: 100%;
  background-image: url("../Img/Header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 75rem) {
  .header__right {
    width: 70%;
  }
}
.header__title {
  position: absolute;
  width: 100%;
  top: 20rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 3px 3px 15px black;
  z-index: 50;
}
.header__title span {
  text-shadow: 5px 10px 4px black;
}
.header__title span:first-child {
  font-size: 3.6rem;
  font-weight: 200;
}
@media (min-width: 56.2rem) {
  .header__title span:first-child {
    position: absolute;
    left: 4rem;
    font-size: 4.8rem;
    font-weight: 300;
  }
}
.header__title span:nth-child(2n) {
  top: 4rem;
  font-size: 5rem;
  font-weight: 200;
  color: red;
}
@media (min-width: 56.2rem) {
  .header__title span:nth-child(2n) {
    position: absolute;
    left: 12rem;
    font-size: 9.6rem;
    font-weight: 400;
  }
}
.header__title span:nth-child(3n) {
  top: 10rem;
  font-size: 5.6rem;
  font-weight: 600;
}
@media (min-width: 56.2rem) {
  .header__title span:nth-child(3n) {
    position: absolute;
    left: 60rem;
    font-size: 9.6rem;
    font-weight: 500;
    top: 13rem;
  }
}

.techs {
  width: 100%;
  background-image: linear-gradient(to bottom, black, #01171d);
  padding-top: 12rem;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 10px inset black;
}
.techs__title {
  position: absolute;
  right: 4rem;
  top: 2rem;
  font-size: 6rem;
  text-shadow: 5px 5px 5px black;
}
.techs__banner {
  overflow: hidden;
  white-space: nowrap;
}
.techs__banner--1 {
  display: flex;
  gap: 5rem;
  animation: floatText 20s infinite linear;
}
.techs__text {
  padding: 2rem;
}
.techs p {
  font-size: 2.2rem;
}
.techs p a {
  font-size: 2.2rem;
  transition: ease 0.2s;
}
.techs p a:hover {
  text-decoration: underline;
  color: red;
}

#carouselExampleInterval {
  background-color: black;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
#carouselExampleInterval .carousel-item img {
  object-fit: contain;
}
#carouselExampleInterval .carousel-control-prev-icon {
  width: 7rem;
  height: 7rem;
}
#carouselExampleInterval .carousel-control-next-icon {
  width: 7rem;
  height: 7rem;
}

@keyframes floatText {
  0% {
    transform: translate(-250rem, 0);
  }
  100% {
    transform: translate(80rem, 20%);
  }
}
@media (min-width: 56.2rem) {
  @keyframes floatText {
    0% {
      transform: translate(-220rem, 0);
    }
    100% {
      transform: translate(180rem, 0);
    }
  }
}
.about {
  padding-top: 12rem;
  position: relative;
  padding-bottom: 12rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  padding-inline: 2rem;
  background-image: linear-gradient(to bottom, #01171d, black);
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 10px inset black;
}
@media (min-width: 56.2rem) {
  .about {
    flex-direction: row;
    padding-inline: 2rem;
  }
}
.about__title {
  position: absolute;
  right: 4rem;
  top: 2rem;
  font-size: 6rem;
  text-shadow: 5px 5px 5px black;
}
.about__description {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.about__description h2 {
  font-size: 4.8rem;
}
.about__description p {
  max-width: 50ch;
}
.about__description p:last-child {
  font-size: 3rem;
  font-weight: 400;
}
.about__description a {
  text-align: center;
  place-self: end;
  font-size: 3rem;
  padding-inline: 4rem;
}
@media (min-width: 56.2rem) {
  .about__description a {
    padding-inline: 8rem;
  }
}
.about__description a::before {
  background: #000c0f;
}
.about__description a i::before,
.about__description a i::after {
  background: #000c0f;
}
.about__image {
  max-width: 60rem;
}
.about__image img {
  object-fit: cover;
  max-width: 100%;
}

.projects {
  background-image: linear-gradient(to bottom, black, #01171d);
  padding-top: 12rem;
  padding-bottom: 12rem;
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 10px inset black;
}
.projects__title {
  position: absolute;
  right: 4rem;
  top: 2rem;
  font-size: 6rem;
  text-shadow: 5px 5px 5px black;
}
.projects__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  place-items: center;
  gap: 6rem 4rem;
  padding: 2rem;
}
@media (min-width: 37.5rem) {
  .projects__gallery {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}
.projects__gallery__card {
  max-width: 45rem;
  padding: 4rem 0;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 0 40px black;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, #022731, #010f13);
}
@media (min-width: 37.5rem) {
  .projects__gallery__card {
    grid-template-rows: 20rem 30rem;
  }
}
.projects__gallery__card--image {
  overflow: hidden;
}
.projects__gallery__card--image img {
  object-fit: cover;
  max-width: 100%;
  transition: ease 0.3s;
  height: 40rem;
}
.projects__gallery__card--image img:hover {
  transform: rotate(-3deg) scale(1.1);
}
.projects__gallery__card--description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 2rem;
  height: 100% rem;
}
.projects__gallery__card--description h2 {
  font-size: 4rem;
}
.projects__gallery__card--description h3 {
  font-size: 2.6rem;
}
.projects__gallery__card--description a {
  text-align: center;
  padding-inline: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2.6rem;
  place-self: center;
  place-items: center;
}
@media (min-width: 56.2rem) {
  .projects__gallery__card--description a {
    font-size: 2.8rem;
    width: auto;
    place-self: end;
    place-items: end;
  }
}
.projects__gallery__card--description a::before {
  background: #000c0f;
}
.projects__gallery__card--description a i::before,
.projects__gallery__card--description a i::after {
  background: #000c0f;
}

.mybtn {
  position: relative;
  background-color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0.2rem 0.8rem;
  transition: 0.5s;
}
.mybtn:hover {
  letter-spacing: 0.25rem;
  background: red;
  color: red;
  box-shadow: 0 0 35px red;
}
.mybtn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgb(58, 33, 33);
}
.mybtn span {
  position: relative;
  z-index: 1;
}
.mybtn i {
  position: absolute;
  inset: 0;
  display: block;
}
.mybtn i::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border: 3px solid #fff;
  left: 80%;
  top: -0.8rem;
  background: rgb(58, 33, 33);
  transform: translate(-50%);
  transition: 0.5s;
  opacity: 0.8;
}
.mybtn i::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border: 3px solid #fff;
  left: 20%;
  bottom: -0.8rem;
  background: rgb(58, 33, 33);
  transform: translate(-50%);
  transition: 0.5s;
  opacity: 0.8;
}
.mybtn:hover i::before {
  width: 3rem;
  left: 20%;
  border-color: red;
}
.mybtn:hover i::after {
  width: 3rem;
  left: 80%;
  border-color: red;
}

.contact {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 12rem;
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 10px inset black;
  overflow: hidden;
  height: 70rem;
  background-image: linear-gradient(to bottom, #01171d, black);
}
@media (min-width: 56.2rem) {
  .contact {
    height: 80vh;
  }
}
.contact::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 12rem;
  left: 0;
  display: block;
  position: absolute;
  background-image: url("/assets/Img/Contact2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: 1;
}
.contact__title {
  position: absolute;
  right: 4rem;
  top: 2rem;
  font-size: 6rem;
  text-shadow: 5px 5px 5px black;
}
.contact__foto {
  width: 60%;
  height: 100%;
  overflow: hidden;
  background-image: url("/assets/Img/Contact2.jpg");
  background-size: cover;
  background-position: center;
  z-index: 2;
  display: none;
}
@media (min-width: 56.2rem) {
  .contact__foto {
    display: block;
  }
}
.contact__form {
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.contact .form {
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: "Sarpanch";
  color: #fff;
  font-size: 2rem;
  text-shadow: 5px 5px 5px black;
  z-index: 900;
  gap: 2rem;
  padding: 2rem;
}
@media (min-width: 37.5rem) {
  .contact .form {
    padding: 4rem;
    width: 80%;
  }
}
.contact .form h3 {
  font-size: 4rem;
}
.contact .form::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
  background-image: linear-gradient(to bottom, #01171d, black);
  filter: blur(2px);
}
.contact .form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact .form__group label {
  width: 100%;
  display: block;
  font-size: 3rem;
  font-weight: 500;
}
.contact .form__group label::first-letter {
  color: red;
}
.contact .form__group input {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: rgb(233, 230, 230);
}
.contact .form__group textarea {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: rgb(233, 230, 230);
}
.contact .form__group button {
  width: 20rem;
  place-self: center;
  padding: 0.2rem 0;
  font-size: 3.4rem;
}
@media (min-width: 37.5rem) {
  .contact .form__group button {
    place-self: end;
    font-size: 4rem;
  }
}
.contact .form__group button::before {
  background: #000c0f;
}
.contact .form__group button i::before,
.contact .form__group button i::after {
  background: #000c0f;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, black, #01171d);
  box-shadow: inset 1px 1px 4px rgba(2, 52, 66, 0.7);
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgba(90, 3, 3, 0.6), red, rgba(90, 3, 3, 0.6));
  border-radius: 1px;
}

.footer {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 160rem;
  margin: 0 auto;
  border-bottom: 10px inset black;
  border: none;
  font-family: "Sarpanch";
  color: #fff;
  width: 100%;
  gap: 6rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  width: 100%;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 37.5rem) {
  .footer__contacts {
    flex-direction: row;
  }
}
.footer__contacts--media {
  display: flex;
  gap: 4rem;
}
.footer__contacts--media i {
  color: #fff;
  font-size: 4rem;
}
.footer__contacts--media i:hover {
  color: red;
  text-shadow: 0 0 1rem red;
}
.footer__contacts--contacts p {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer__contacts--contacts p i {
  color: red;
}
.footer__copy {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__copy a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: red;
  transition: ease 0.2s;
}
.footer__copy a:hover {
  color: white;
}

.techs__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techs__info__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 10px inset black;
  width: 100%;
  padding: 6rem 0;
  position: relative;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 37.5rem) {
  .techs__info__container {
    flex-direction: row;
  }
}
.techs__info__container--image {
  max-width: max-content;
  display: block;
  width: 100%;
}
@media (min-width: 37.5rem) {
  .techs__info__container--image {
    width: 40%;
  }
}
.techs__info__container--image img {
  max-width: 100%;
  max-height: 35rem;
  object-fit: contain;
  object-position: center top;
}
.techs__info__container--description {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  column-rule: 1px solid rgba(255, 255, 255, 0.5);
  column-width: 5rem;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
@media (min-width: 56.2rem) {
  .techs__info__container--description {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.techs__info__container--description p {
  text-indent: 2rem;
  font-size: 2.2rem;
  list-style: none;
  text-shadow: 1px 1px 10px black;
  word-wrap: break-word;
}
@media (min-width: 37.5rem) {
  .techs__info__container--description p {
    font-size: 2.6rem;
  }
}
@media (min-width: 56.2rem) {
  .techs__info__container--description p {
    font-size: 2.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
